# X.Model Inference

> Model yang sudah dilatih akan dicoba pada data yang bukan termasuk ke dalam train-set. Data ini harus dalam format yang asli, bukan data yang sudah di-scaled.

### ***Import Libraries***

In [7]:
import pickle
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

### ***Load File .pkl Yang Akan Dipakai***

In [14]:
with open('final_pipe1.pkl', 'rb') as file:
  pipe_sgd = pickle.load(file)

### ***Membuat Data Dummy***

In [15]:
np.random.seed(21)
n = 100

area = np.random.uniform(1,8,n)
view = np.random.uniform(0,4,n)
bedrooms = np.random.uniform(1,9,n)
bathrooms = np.random.uniform(1,8,n)
sqft_living = np.random.uniform(370,12000,n)
floors = np.random.uniform(1,4,n)
condition = np.random.uniform(1,5,n)
sqft_above = np.random.uniform(370,9400,n)
sqft_basement = np.random.uniform(0,4800,n)

# Membuat DataFrame
df_dummy = pd.DataFrame({
    'area': area,
    'view' : view,
    'bedrooms': bedrooms,
    'bathrooms' : bathrooms,
    'sqft_living': sqft_living,
    'floors': floors,
    'condition' : condition,
    'sqft_above': sqft_above,
    'sqft_basement': sqft_basement,
})

df_dummy

,area,view,bedrooms,bathrooms,sqft_living,floors,condition,sqft_above,sqft_basement
0,1.341074,2.762087,4.165932,1.034774,8946.731409,3.926238,2.225057,4846.546965,1686.608534
1,3.023768,3.116987,5.761753,5.096409,11900.108860,2.934295,3.969625,5461.901182,2722.313061
2,6.046764,0.188917,4.461385,3.447531,10191.491086,1.959660,1.604026,4044.069018,3867.796164
3,1.151314,0.298245,2.222958,4.177292,9087.994390,3.371028,2.078383,5799.846084,972.320066
4,2.441459,2.419378,7.835965,3.047720,5097.868775,1.052763,3.038873,6720.302904,2369.344830
...,...,...,...,...,...,...,...,...,...
95,1.489786,3.260254,8.060415,6.891132,11095.149907,1.035955,2.493528,2785.797432,1762.577905
96,6.472386,3.849812,4.032988,2.116388,9902.182435,3.275397,4.719383,6724.045735,30.103117
97,1.245721,2.355530,5.057469,6.160888,2423.113554,3.338858,2.409087,1414.714552,3104.058980
98,4.563558,1.617008,7.364855,3.928206,7205.276649,1.315769,1.146885,9039.999866,4419.762143
99,4.071542,2.623508,3.688169,1.850710,9040.384939,2.284936,4.978139,2618.686339,4428.796569

In [16]:
df_dummy.head(10)

,area,view,bedrooms,bathrooms,sqft_living,floors,condition,sqft_above,sqft_basement
0,1.341074,2.762087,4.165932,1.034774,8946.731409,3.926238,2.225057,4846.546965,1686.608534
1,3.023768,3.116987,5.761753,5.096409,11900.108860,2.934295,3.969625,5461.901182,2722.313061
2,6.046764,0.188917,4.461385,3.447531,10191.491086,1.959660,1.604026,4044.069018,3867.796164
3,1.151314,0.298245,2.222958,4.177292,9087.994390,3.371028,2.078383,5799.846084,972.320066
4,2.441459,2.419378,7.835965,3.047720,5097.868775,1.052763,3.038873,6720.302904,2369.344830
5,1.355413,2.849400,3.874673,5.588889,1175.465406,2.655606,4.944161,6059.637012,2932.629820
6,3.115903,0.603098,1.818484,4.441730,2551.354365,2.864113,2.566404,8508.083296,353.012178
7,5.647372,2.459054,1.297999,6.717585,9388.202307,1.825186,1.777157,4675.938707,2447.234022
8,3.156801,0.603404,4.647459,3.544797,6943.656146,2.163799,4.281783,1268.150676,2239.577319
9,5.085139,1.846929,2.025187,2.700597,10686.813452,3.630352,2.268165,2764.542576,3022.755328

In [17]:
pred_inf = pipe_sgd.predict(df_dummy)
pred_inf

array([1897499.33301839, 2651732.09275536, 1495160.36678278,
       2022848.20011457, 2632290.03181079, 3712015.35725546,
       2348794.35071999, 2331007.29381377,  518595.59856493,
       1213185.58169412, 2746963.26340036, 2125075.67819641,
       1265520.31137797, 3200091.73253259, 2150269.93073388,
       1422641.79803488,  163543.62174101, 1080232.15272424,
       2106377.49204604, 2490334.91307268, 2585526.43505495,
       2398529.51300519, 1293932.59721346, 2595848.83820432,
        138502.03699221,  807580.69095037, 1253121.20884779,
       3053598.16563815, 2177145.42265566, 2657072.013799  ,
       1848624.90423254,  166453.87067951, 1836836.61367665,
       1748156.84248792, 2060098.60377092, 1418903.89512832,
       1688289.8766035 , 1229303.90762916, 2369755.33735871,
       1536420.241649  , 1699149.63113315,  565878.68936556,
       2157061.11496705, 1392763.98812375,   42919.76842442,
       2268237.84607767,  943242.0047562 ,  731450.97812525,
        741621.1062236 ,  816965.1124758 , 2111967.94460709,
       1957019.60823344,  711121.12081843, 2317310.99343996,
       -464833.23755035, 2368995.92569018, 2688566.31630093,
       1930280.04244335, 2384049.19241458,  972059.95640668,
        416477.27316946, 2846963.94251717, 1970958.04739249,
       1670924.9249642 , 1374400.2999043 , 2164627.15780742,
       1694456.08180536, 3034913.87011902, 1897133.01930889,
       1901545.22159394,  107672.78928107, 2948438.42881259,
       2146665.88087241, 2405670.43565047, 1420989.94213498,
       2014492.71210397, 2430086.78388673, 1520871.27582483,
       2236580.30766597,  994804.32048009, 1997238.21911353,
        978242.1146749 , 1472361.67421072, 2444004.71114073,
       1486688.77819355, 2619976.50756635, 1436375.31816472,
       2587840.11952958, 2206664.62857542, 1564897.67553634,
        570408.44411006, 1985509.81903144, 2472056.37051346,
       1065473.33771513, 1972706.8222584 , 1322822.85075868,
       1671826.36613194, 1456156.1707756 , 2280328.90725371,
       1292217.54754037])

### ***Membuat Frame Hasil Prediksi***

In [18]:
# Convert into DataFrame
pred_inf_df = pd.DataFrame(pred_inf, columns=['Prediksi Harga Rumah'])
pred_inf_df

    Prediksi Harga Rumah
0           1.897499e+06
1           2.651732e+06
2           1.495160e+06
3           2.022848e+06
4           2.632290e+06
..                   ...
95          1.322823e+06
96          1.671826e+06
97          1.456156e+06
98          2.280329e+06
99          1.292218e+06

[100 rows x 1 columns]

### ***Menggabungkan DataFrame Dummy Dengan Hasil Prediksi***

In [13]:
# Menggabungkan Inference-Set and Prediction
tabel_inf = pd.concat([df_dummy, pred_inf_df], axis=1)
tabel_inf

,area,view,bedrooms,bathrooms,sqft_living,floors,condition,sqft_above,sqft_basement,Prediksi Harga Rumah
0,1.341074,2.762087,4.165932,1.034774,8946.731409,3.926238,2.225057,4846.546965,1686.608534,1.897499e+06
1,3.023768,3.116987,5.761753,5.096409,11900.108860,2.934295,3.969625,5461.901182,2722.313061,2.651732e+06
2,6.046764,0.188917,4.461385,3.447531,10191.491086,1.959660,1.604026,4044.069018,3867.796164,1.495160e+06
3,1.151314,0.298245,2.222958,4.177292,9087.994390,3.371028,2.078383,5799.846084,972.320066,2.022848e+06
4,2.441459,2.419378,7.835965,3.047720,5097.868775,1.052763,3.038873,6720.302904,2369.344830,2.632290e+06
...,...,...,...,...,...,...,...,...,...,...
95,1.489786,3.260254,8.060415,6.891132,11095.149907,1.035955,2.493528,2785.797432,1762.577905,1.322823e+06
96,6.472386,3.849812,4.032988,2.116388,9902.182435,3.275397,4.719383,6724.045735,30.103117,1.671826e+06
97,1.245721,2.355530,5.057469,6.160888,2423.113554,3.338858,2.409087,1414.714552,3104.058980,1.456156e+06
98,4.563558,1.617008,7.364855,3.928206,7205.276649,1.315769,1.146885,9039.999866,4419.762143,2.280329e+06
99,4.071542,2.623508,3.688169,1.850710,9040.384939,2.284936,4.978139,2618.686339,4428.796569,1.292218e+06